<ion-header>
  <ion-toolbar >
    <ion-buttons  slot="start">
      <ion-back-button color = "primary" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color = "primary" >Luces</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
 
<ion-list>
  <ion-item *ngFor="let luz of luces;let i =index;"  >
    <ion-toggle color="success"  slot="start" (ionChange)="turnLight(luz)" [checked]="isLightOn(luz)"></ion-toggle> 
    <ion-label>{{luz.ubicacion}}</ion-label>
     

      <!-- <ion-checkbox slot="end"></ion-checkbox> -->
      <ion-button expand="block"  [routerLink]="['/luces',luz.ID]">
        <ion-icon  name="settings"></ion-icon>
      </ion-button>
    
    </ion-item>
</ion-list>


  

<ion-grid style="justify-content: space-around; align-items: center;">
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <ion-button  (click)="agregarLuz()" expand="block">
        <ion-icon slot="icon-only" name="add"></ion-icon>  
      </ion-button>
    
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
</ion-grid>

</ion-content>
