<ion-header [translucent]="true">
  <ion-toolbar  >
    <ion-title color="primary" >
     <p align="center">domoticApp</p> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding" >
    <ion-grid  style="height: 100%;">
      <ion-row   >
        <ion-col  size="6">
          <ion-label color="primary">
            <h2>Sensores habilitados</h2>
          
          </ion-label>
          <ion-list   lines="none">
            <div *ngFor="let sensor of sensores;">
              <div>
                <ion-item  *ngIf="sensor.estado=='on';">
                  <ion-label class = textDataSensors > 
                    {{sensor.valor}} {{sensor.unidad}} 
                   </ion-label>
                 </ion-item>
              </div>
            </div>
        </ion-list>
          
                 
        </ion-col>
        <ion-col  size="6">
          <ion-label color="primary">
            <h2>Luces encendidas</h2>
          </ion-label>
          <ion-list lines="none">
            <div  *ngFor="let luz of luces;">
              <div>
                <ion-item   *ngIf="luz.estado=='on';">
                <ion-label class = textLigthsOn>
                {{luz.ubicacion}}
                    
                </ion-label>
              </ion-item>
              </div>
            </div>
            
              
            
          </ion-list>
          
        </ion-col>
      </ion-row>
      <ion-row style="justify-content: space-around; align-items: center;">
        <ion-col size="5">
         <ion-button  expand="block" [routerLink]="['/sensores']" routerDirection="forward">  
            <ion-badge class="infoDevices" color="secondary" mode="md">{{cantSensores}}</ion-badge>
            <ion-icon slot="icon-only" name="thermometer"></ion-icon>
          </ion-button>
         </ion-col>
        <ion-col size="5">
          <ion-button   expand="block" [routerLink]="['/luces']">
            <ion-badge class="infoDevices" color="secondary" mode="md">{{cantLuces}}</ion-badge>
          <ion-icon  slot="icon-only" name="bulb"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row >
      <!-- <ion-row style="justify-content: space-around; align-items: start;">
        <ion-col size="5">
        <ion-button size="large" expand="block" (click)="onClick()">
          <ion-icon   slot="icon-only" name="videocam-outline"></ion-icon>
        </ion-button>
        </ion-col>
        <ion-col size="5">
        <ion-button size="large" expand="block" (click)="onClick()">
          <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
        </ion-button>
        </ion-col>
      </ion-row> -->
   
    </ion-grid>

  
</ion-content>
