#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.infoDevices{
  position: absolute;
  top: 2px;
  right: -15px;
}
#container a {
  
  text-decoration: none;
  display: flexbox;
  flex-direction: end;
  align-items: stretch;
  }

  #container info {
   background-color: blue;
   display: flexbox;
   flex-direction: row;
   align-items: stretch;
  }
