<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color = "primary" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color = "primary"> Sensores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let sensor of sensores;">

     <ion-label>{{sensor.Tipo}}</ion-label>
     <ion-label>{{sensor.valor}} {{sensor.unidad}} </ion-label>
     <ion-toggle (ionChange)="turnSensor(sensor)" [checked]="isSensorOn(sensor)"></ion-toggle>
    </ion-item>
    
  </ion-list>

  

</ion-content>
