<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sensores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let sensor of sensores; trackBy:" [routerLink]="['/sensores']">
     <ion-label>{{sensor.Tipo}}</ion-label>
     <ion-label>{{sensor.valor}} {{sensor.unidad}} </ion-label>
    </ion-item>
    
  </ion-list>

  

</ion-content>
